@import url(./Style.css);

body {
  width: calc(var(--body-base-width)-5);
  height: var(--body-base-height);
}

@media screen and (max-width: 1800px) {
  .navbar,
  .home,
  .footer {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 2);
  }
}

@media screen and (max-width: 1500px) {
  .navbar,
  .home,
  .footer {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 3);
  }
}

@media screen and (max-width: 1300px) {
  .navbar,
  .home,
  .footer {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 4);
  }
}
