@import url(./Style.css);

body {
  /* width: calc(var(--body-base-width)-5);
  height: var(--body-base-height); */
  width: var(--body-base-width);
  height: var(--body-base-height);
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1800px) {
  .navbar,
  .home {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 2);
  }

  .footer {
    padding: calc(var(--nav-space-top-bottom) * 3)
      calc(var(--nav-space-left-right));
  }
}

@media screen and (max-width: 1500px) {
  .navbar,
  .home {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 3);
  }

  .footer {
    padding: calc(var(--nav-space-top-bottom) * 3)
      calc(var(--nav-space-left-right));
  }
}

@media screen and (max-width: 1300px) {
  .navbar,
  .home {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 4);
  }

  .footer {
    padding: calc(var(--nav-space-top-bottom) * 3)
      calc(var(--nav-space-left-right) / 1.5);
  }
}

@media screen and (max-width: 1023px) {
  .navbar,
  .home {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 10);
  }

  .footer {
    padding: calc(var(--nav-space-top-bottom) * 3)
      calc(var(--nav-space-left-right) / 2);
  }
}

@media screen and (max-width: 767px) {
  .navbar,
  .home {
    padding: var(--nav-space-top-bottom) calc(var(--nav-space-left-right) / 20);
  }

  .footer {
    padding: calc(var(--nav-space-top-bottom) * 3)
      calc(var(--nav-space-left-right) / 5);
  }

  .plasticx-logo {
    width: calc(var(--base-logo-width) / 2);
    height: calc(var(--base-logo-height) / 2);
  }
}

@media screen and (max-width: 480px) {
  .navbar,
  .home,
  .footer {
    padding: 1rem;
  }

  .plasticx-logo {
    width: calc(var(--base-logo-width) / 2);
    height: calc(var(--base-logo-height) / 2);
  }
}
