@import url(./Style.css);

body {
  /* width: calc(var(--body-base-width)-5);
  height: var(--body-base-height); */
  width: var(--body-base-width);
  height: var(--body-base-height);
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-color);
}

.global-width {
  max-width: 1400px;
  margin: 0 auto;
}

div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .plasticx-logo {
    width: calc(var(--base-logo-width) / 2);
    height: calc(var(--base-logo-height) / 2);
  }
}
