:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-hoverblue: #79aed6;
  --color-yellow: #fbbe28;
  --color-hoveryellow: #fde198;
  --color-pink: #fd7f84;
  --color-hoverpink: #faafb1;
  --color-light-grey: #dfdfdf;

  --color-primary: #35b8be;
  --color-light-primary: #44ccd3;

  /* animation */
  --animation-duration: transform 300ms ease;

  /* size */
  --base-logo-width: 380px;
  --base-logo-height: 140px;

  --base-space-top-bottom: 8px;
  --base-space-left-right: 12px;
  --nav-space-top-bottom: 1rem;
  --nav-space-left-right: 4rem;
  --content-space-top-bottom: 2.5rem;

  --base-btn-font-size: 18px;

  /* radius */
  --base-border-radius: 4px;

  /* body layout */
  --body-base-width: 100vw;
  --body-base-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-black);
}
