:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-hoverblue: #79aed6;
  --color-yellow: #fbbe28;
  --color-hoveryellow: #fde198;
  --color-pink: #fd7f84;
  --color-hoverpink: #faafb1;
  --color-grey: #a5a9c4;
  --color-light-grey: #dfdfdf;

  --color-primary: #35b8be;
  --color-dark-primary: #399ca1;
  --color-light-primary: #44ccd3;
  --color-very-light-primary: #b9fcff;
  --color-footer-background: #eef2f3;

  /* animation */
  --animation-duration: transform 300ms ease;

  /* size */
  --base-logo-width: 400px;
  --base-logo-height: 140px;

  --base-space-top-bottom: 8px;
  --base-space-left-right: 12px;
  --normal-btn-space-top-bottom: 18px;
  --normal-btn-space-lefet-right: 24px;
  --nav-space-top-bottom: 2rem;
  --nav-space-left-right: 2rem;

  --home-main-article-size: 60px;
  --home-sub-article-size: 18px;
  --base-btn-font-size: 18px;

  --login-form-width-size: 20rem;
  --login-space-top-bottom: 6rem;

  --home-base-img-size: 540px;

  /* radius */
  --base-border-radius: 4px;

  /* layout */
  --body-base-width: 100%;
  --body-base-height: 100%;

  /* shadow */
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
  color: var(--color-black);
}
