.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: calc(var(--nav-space-top-bottom) * 3)
    calc(var(--nav-space-left-right) * 1.6);
}

.footer-back {
  background-color: var(--color-footer-background);
}

.plasticx-only-logo {
  width: 90px;
  height: 90px;
}

.footer-menu .footer-logo-name {
  letter-spacing: 5px;
  padding: var(--base-space-top-bottom) var(--base-space-left-right);
}

.footer-plasticx-logo {
  display: flex;
  flex-direction: column;
}

.footer-menu-items {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-menu-items .nav-links:hover {
  transition: all 0.2s;
}

@media screen and (max-width: 600px) {
  .footer {
    justify-content: space-between;
  }
}
