.footer {
  height: calc(var(--body-base-height) / 2.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--nav-space-left-right);
  background-color: var(--color-footer-background);
}

.plasticx-only-logo {
  width: 90px;
  height: 90px;
}

.footer-menu {
  padding-right: var(--nav-space-left-right);
}

.footer-plasticx-logo {
  display: flex;
  flex-direction: column;
}

.footer-menu-items {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* .footer-menu-items .nav-links {
  
} */

.footer-menu-items .nav-links:hover {
  transition: all 0.2s;
}
