.privacy-title {
  margin-bottom: 2rem;
}
.privacy-home {
  box-shadow: rgba(0 0 0 / 40%) 0px 0px 5px;
  max-width: 800px;
  margin: var(--login-space-top-bottom) auto;
  padding: 2rem;
  font-size: 14px;
  border-radius: var(--base-border-radius);
}
