doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
<<<<<<< HEAD
        div 안녕하십니까ㅎㅎ
=======
        div 안녕하3
>>>>>>> aedce3368acfe82237e2c641349d32ebf405f936
