.home {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-white);
  padding: calc(var(--nav-space-top-bottom) * 2.4) var(--nav-space-left-right);
}

.article {
  margin: auto 0;
  width: 50%;
}

.article span {
  color: var(--color-primary);
}

.article h1 {
  font-size: var(--home-main-article-size);
  font-weight: 700;
  margin-bottom: 1rem;
  word-break: keep-all;
}

.article h5 {
  font-size: var(--home-sub-article-size);
  word-break: keep-all;
  font-weight: 400;
  margin-bottom: 1rem;
}

.article-1 h1 {
  animation-name: animateLeft;
  animation-duration: 2s;
}

.article-1 h4 {
  animation-name: animateLeft;
  animation-duration: 2.5s;
}

.article-1 h5 {
  animation-name: animateLeft;
  animation-duration: 3s;
}

.article-2 {
  text-align: right;
}

.article-1 h4,
.article-2 h4 {
  line-height: 150%;
  word-break: keep-all;
}

.article-2 h1 {
  animation-name: animateRight;
  animation-duration: 2s;
}

.article-2 h4 {
  animation-name: animateRight;
  animation-duration: 2.5s;
}

.article-2 h5 {
  animation-name: animateRight;
  animation-duration: 3s;
}

.manual,
.more {
  margin-top: 4rem;
}

.manual button,
.more button {
  padding: var(--normal-btn-space-top-bottom)
    var(--normal-btn-space-lefet-right);
  border-radius: var(--base-border-radius);
  outline: none;
  border: none;
  cursor: pointer;
  min-height: 60px;
  max-width: 8rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: 250ms;
}

.manual button:hover,
.more button:hover {
  background-color: var(--color-dark-primary);
  color: var(--color-white);
  transition: 250ms;
}

.tumbler-img,
.earth-img {
  max-width: var(--home-base-img-size);
  height: auto;
}

.article-3 {
  width: 100%;
  text-align: center;
  padding: calc(var(--nav-space-top-bottom) * 8) 0;
}

.article-3 h1 {
  margin-bottom: 2rem;
}

.google-img {
  width: calc(var(--base-logo-width) / 1.6);
  height: calc(var(--base-logo-height) / 1.4);
  transition: 0.2s;
  margin-top: var(--nav-space-top-bottom);
}

.google-img:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

@media screen and (max-width: 1200px) {
  .home {
    flex-direction: column;
    padding: calc(var(--nav-space-top-bottom) * 3) var(--nav-space-left-right);
    text-align: center;
    align-items: center;
    float: none;
  }

  .article {
    width: 100%;
  }

  .article-2 {
    text-align: center;
  }

  .tumbler-img,
  .earth-img {
    max-width: calc(var(--home-base-img-size) / 1.2);
    height: auto;
  }

  .article h1 {
    font-size: calc(var(--home-main-article-size) / 1.4);
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .tumbler-img,
  .earth-img {
    max-width: calc(var(--home-base-img-size) / 1.8);
    height: auto;
  }

  .article h1 {
    font-size: calc(var(--home-main-article-size) / 1.8);
  }

  .article h4 {
    font-size: var(--home-sub-article-size);
  }
}

@keyframes animateLeft {
  from {
    margin-left: -200px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes animateRight {
  from {
    margin-right: -200px;
    opacity: 0;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}
