.contact-page {
  width: var(--login-form-width-size);
  margin: var(--login-space-top-bottom) auto;
}

select {
  width: 100%;
}

.contact-form label {
  font-weight: bold;
}

input[type="name"],
input[type="email"] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: var(--base-border-radius);
  font-size: small;
  transition: 500ms;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: var(--base-border-radius);
  font-size: small;
  transition: 500ms;
}

textarea:hover {
  border: 1px solid #2f5ffa;
  transition: 500ms;
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--base-space-top-bottom) 20px;
  margin: calc(var(--base-space-top-bottom) * 2) 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: var(--base-border-radius);
  transition: 250ms;
}

/* input [type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--base-space-top-bottom) 20px;
  margin: calc(var(--base-space-top-bottom) * 2) 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: var(--base-border-radius);
  transition: 250ms;
} */
