/* Full-width inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: var(--base-border-radius);
  font-size: small;
  transition: 500ms;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border: 1px solid #2f5ffa;
  transition: 500ms;
}

.login-page {
  width: var(--login-form-width-size);
  margin: var(--login-space-top-bottom) auto;
}

.login-page h2 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 25px;
}

.login-page label {
  font-size: small;
  font-weight: 500;
}

/* Set a style for all buttons */
.login-page button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--base-space-top-bottom) 20px;
  margin: calc(var(--base-space-top-bottom) * 2) 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: var(--base-border-radius);
  transition: 250ms;
}

/* Add a hover effect for buttons */
.login-page button:hover {
  background-color: var(--color-dark-primary);
  color: var(--color-white);
  transition: 250ms;
}

.another-approach {
  text-align: center;
  font-size: small;
  font-weight: 600;
  color: #9c9c9c;
}
