{{! 텀블러 등록하기 }}
<div>qr 코드</div>
<div class="id-string">{{tumbler_id}}</div>
<div class="qr-code"></div>
<form action="" method="post">
  <button type="submit">생성</button>
</form>
{{#sect_in "style"}}
  <link rel="stylesheet" href="../stylesheets/style.css" />
{{/sect_in}}
{{#sect_in "script_head"}}
  <script src="../library/jquery.min.js"></script>
  <script src="../library/qrcode.js"></script>
{{/sect_in}}
{{#sect_in "script_body"}}
  <script src="../js/qrcode.js"></script>
{{/sect_in}}