.nav-container {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--nav-space-top-bottom) / 2) var(--nav-space-left-right);
}

.plasticx-logo {
  width: var(--base-logo-width);
  height: var(--base-logo-height);
  cursor: pointer;
}

.nav-menu {
  grid-gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links {
  padding: var(--base-space-top-bottom) var(--base-space-left-right);
  cursor: pointer;
}

.nav-links:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-out;
}

.collapsible,
.nav-collapse-menu {
  display: none;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
}

.nav-overlay-show {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  position: fixed;
}

@media screen and (max-width: 1300px) {
  .plasticx-logo {
    width: calc(var(--base-logo-width) / 1.4);
    height: calc(var(--base-logo-height) / 1.4);
  }
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    display: none;
  }

  .nav-collapse-menu {
    background-color: var(--color-white);
  }

  #navCollapseMenu .nav-collapse-menu {
    display: grid;
    grid-gap: var(--base-space-top-bottom);
    grid-template-rows: repeat(7, auto);
    text-align: center;
    list-style: none;
    padding: 1rem;
    margin: 0;
    box-shadow: rgba(0 0 0 / 40%) 0px 5px 5px;
  }

  #navCollapseMenu .nav-links:hover {
    transform: scale(1);
    background-color: var(--color-primary);
    color: white;
  }

  .collapsible {
    display: flex;
    cursor: pointer;
  }
}
