.company-page {
  width: calc(var(--login-form-width-size) * 3);
  margin: var(--login-space-top-bottom) auto;
}

.page-header {
  text-align: center;
  font-weight: 900;
  margin-bottom: 25px;
  width: 100%;
}

.images {
  width: calc(var(--login-form-width-size) * 3);
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.user-img {
  width: 15%;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.names {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
}

.duty {
  text-align: center;
  font-size: smaller;
  font-weight: normal;
}

.first-header,
.second-header {
  text-align: right;
  font-weight: bold;
  margin-left: 30%;
  margin-bottom: 50px;
}

.block-one,
.block-two {
  text-align: left;
  margin-right: 40%;
  margin-bottom: 50px;
  color: grey;
}

@media screen and (max-width: 1250px) {
  .company-page {
    width: 75%;
  }

  .images {
    width: 100%;
  }

  .user-img {
    width: 20%;
  }
}

@media screen and (max-width: 1045px) {
  .company-page {
    width: 75%;
  }

  .images {
    width: 100%;
  }

  .user-img {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .company-page {
    width: 80%;
  }

  .images {
    width: 100%;
  }

  .user-img {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .company-page {
    width: 80%;
  }

  .images {
    width: 100%;
  }

  .user-img {
    width: 20%;
  }
}
